//Responsive
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

//Sizes container
$max-width-container: 1920px;

//Colores
$negro: #151515;
$celeste: #4ee1a0;
$gris: #242424;
$blanco: #d9d9d9;
